server/recognition/dataset/data
**/__pycache__
**/.DS_Store
android/Smartbread/app/build
android/Smartbread/.idea/libraries
android/Smartbread/.idea/libraries
android/Smartbread/.gradle
android/Smartbread/app/build
**/build/**
vendor
android/Smartbread/.gradle
android/Smartbread/.idea/caches
.idea
android/Smartbread/.idea
android/Smartbread/app/app.iml
android/Smartbread/app/app.iml
android/Smartbread/.idea/workspace.xml
