server/recognition/dataset/data
**/__pycache__
**/.DS_Store
android/Smartbread/app/build
android/Smartbread/.idea/libraries
android/Smartbread/.idea/libraries
android/Smartbread/.gradle
android/Smartbread/app/build
**/build/**
